footer
    .move-top
        img(src="http://www.dangmyen.co.kr/images/main/top.png")
    .site-map
        .site-map__wrapper
            ul
                li
                    a(href=`/company${routes.ceo}`) 회사소개
                li
                    a(href=`/company${routes.ceo}`) CEO 인사말
                li
                    a(href=`/company${routes.history}`) 회사연혁
                li
                    a(href=`/company${routes.certification}`) 표창/인증/특허
                li
                    a(href=`/company${routes.local}`) 오시는 길
            ul
                li
                    a(href=`/intro${routes.brand}`) 푸름찬
                li
                    a(href=`/intro${routes.brand}`) 브랜드 소개
                li
                    a(href=`/intro${routes.prd_process}`) 제조공정
            ul
                li
                    a(href=`/product${routes.prd_01}`) 제품소개
                li
                    a(href=`/product${routes.prd_01}`) 푸름찬 당면
                li
                    a(href=`/product${routes.prd_02}`) 자매품
            ul
                li
                    a(href=`/board${routes.notice}`) 고객센터
                li
                    a(href=`/board${routes.notice}`) 공지사항
                li
                    a(href=`/board${routes.ask}`) 고객문의
                li
                    a(href=`/board${routes.news}`) 보도자료
    address
        .address__wrapper
            .address__column
                p ㈜ 우정식품
                p 경기도 포천시 창수면 포천로 2737-7 (추동리 381) 
                    span | 
                    span Tel: 031-531-0416~7 
                    span | 
                    span Fax: 031-531-0419 
                    span | 사업자 등록번호:
                    span  127-81-16844
                p Copyright ⓒ Purumchanfood All right reserved 
                    a(href="#") [Admin]
            .address__column
                img(src="http://dangmyen.co.kr/images/main/logo.png")